extends ../layout/auth-layout
block content 
    section.auth-section
        .area
            ul.circles
                li
                li
                li
                li
                li
                li
                li
                li
                li
                li
        //- .bg-img
        .container
            .auth-wrap.mb-3
                .row 
                    .col-lg-7.d-none.d-lg-block
                        .content-wrap 
                            .logo 
                                include ../components/logo
                            hr.my-4
                            h2.mb-3 Everything to Simplify Your 
                                span.text-primary WhatsApp Marketing
                            p.fs-5 Seamless Messaging. Smarter Automation. Better Growth.

                            ul.auth-points 
                                li 
                                    i.ti.ti-chevron-right
                                    | Automate responses to speed up customer support
                                li 
                                    i.ti.ti-chevron-right
                                    | Reach your audience with personalized, high-impact messages
                                li 
                                    i.ti.ti-chevron-right
                                    | Stay active 24/7 with smart automated replies
                                li 
                                    i.ti.ti-chevron-right
                                    | Handle multiple WhatsApp accounts from a single dashboard
                                li 
                                    i.ti.ti-chevron-right
                                    | Gain full control with real-time API & webhook support

                            p 
                                strong WhatsApp API made powerful with Whatsme — now with WordPress & Perfex CRM integration.
                    .col-lg-5
                        .auth-form-wrap
                            .logo.mb-3.d-block.d-lg-none
                                include ../components/logo
                            h3.mb-2 Welcome to Whatsme ! 
                            p Please sign-in to your account and start the WhatsApp Marketing

                            form(action="")
                                .mb-3
                                    label.form-label Email Address
                                    .input-group.input-group-flat
                                        input.form-control(type="email" name="email" required placeholder="Enter your email address")
                                        span.input-group-text
                                            i.ti.ti-mail

                                .mb-3
                                    label.form-label Password
                                    .input-group.input-group-flat.pass-group
                                        input.form-control.pass-input(type="password" name="password" required placeholder="Enter your password")
                                        span.input-group-text.toggle-password
                                            i.ti.ti-eye-off

                                .d-flex.align-items-center.justify-content-end.mb-3 
                                    .text-end
                                        a.link-primary.fw-medium.link-hover(
                                            href="/auth/forgot-password"
                                        ) Forgot Password?
                                .mb-3
                                    button.btn.btn-primary.w-100(type="submit") Sign In

                                .mb-0
                                    p.mb-3
                                        | New on our platform?
                                        a.link-primary.fw-bold.link-hover(href="/auth/register")  Create an account 

                                    .d-flex.align-items-center.justify-content-center.flex-wrap.gap-2

                                        .text-center.flex-fill
                                            a.p-1.btn.btn-outline-dark.d-flex.align-items-center.justify-content-center(
                                                href="javascript:void(0);"
                                            )
                                                img.img-fluid.m-1(
                                                    src="/assets/img/icons/google-logo.svg"
                                                    alt="Google"
                                                )


            include ../components/auth/footer
