extends ../../layout/user-layout
block content
    .d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
        div 
            nav(aria-label="breadcrumb")
                ol.breadcrumb.mb-0.p-0
                    li.breadcrumb-item
                        a(href="/users/dashboard") Dashboard 
                    li.breadcrumb-item.active(aria-current="page") All Whatsapp


    .row.justify-content-between
        .col-lg-12.mb-4
            .card.mb-0
                .card-header.d-flex.align-items-center.justify-content-between.gap-2.flex-wrap
                    h5.card-title All Whatsapp
                    a.btn.btn-primary( href="/users/add-whatsapp") Add Whatsapp
                .card-body
                    .table-responsive.custom-table
                        table.table.table-nowrap
                            thead.table-light
                                tr
                                    th Sr No.
                                    th Whatsapp Name
                                    th Whatsapp Number
                                    th Status
                                    th.text-end Action
                            tbody   
                                tr 
                                    td 1         
                                    td Niral Ghetiya         
                                    td +91 96388 70507         
                                    td 
                                        .badge.bg-success  Active 
                                    td 
                                        .d-flex.gap-2.justify-content-end
                                            span.btn.btn-icon.btn-md.btn-light(type="button" data-bs-toggle="modal" data-bs-target="#apipoup")
                                                i.ti.ti-api   
                                            a.btn.btn-icon.btn-md.btn-light(href="/users/edit-whatsapp")
                                                i.ti.ti-edit   
                                            a.btn.btn-icon.btn-md.btn-light(href="javascript:void(0);")
                                                i.ti.ti-trash

                                tr 
                                    td 1         
                                    td Niral Ghetiya         
                                    td +91 96388 70507         
                                    td 
                                        .badge.bg-danger  Inactive 
                                    td 
                                        .d-flex.gap-2.justify-content-end
                                            span.btn.btn-icon.btn-md.btn-light(type="button" data-bs-toggle="modal" data-bs-target="#apipoup")
                                                i.ti.ti-api   
                                            a.btn.btn-icon.btn-md.btn-light(href="/users/edit-whatsapp")
                                                i.ti.ti-edit   
                                            a.btn.btn-icon.btn-md.btn-light(href="javascript:void(0);")
                                                i.ti.ti-trash



    .modal.fade#apipoup(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h4.modal-title#myapipoupLabel Api Key
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    form( action="" method="" ) 
                        .mb-4 
                            .input-group.input-group-flat
                                input.form-control(type="text" name="" required value="ajhjdahajhfdahjhfjsdalhffjhff")
                                button.btn.btn-outline-primary Copy
