extends ../../layout/user-layout
block content
    .d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
        div 
            nav(aria-label="breadcrumb")
                ol.breadcrumb.mb-0.p-0
                    li.breadcrumb-item
                        a(href="/users/dashboard") Dashboard 
                    li.breadcrumb-item
                        a(href="/users/all-whatsapp") Whatsapp
                    li.breadcrumb-item.active(aria-current="page") Edit Whatsapp



    .row.justify-content-between
        .col-lg-6.mb-4
            .card.mb-0
                .card-header
                    h5.card-title Edit Whatsapp
                .card-body
                    form( action="" method="" ) 
                        .mb-4
                            label.form-label Enter Whatsapp Name
                            .input-group.input-group-flat
                                input.form-control(type="text" name="" required placeholder="Enter Whatsapp Name")

                        .mb-4
                            label.form-label Enter Whatsapp No
                            .input-group.input-group-flat
                                input.form-control(type="text" name="" required placeholder="+91 1234567890") 


                        button.btn.btn-primary.w-100(type="submit") Edit Whatsapp

