footer.footer.d-block.d-md-flex.justify-content-between.text-md-start.text-center
    p.mb-md-0.mb-1
        | Copyright © 
        script.
            document.write(new Date().getFullYear())
        |  
        a.link-primary.text-decoration-underline(href="javascript:void(0);") My Pic

    .d-flex.align-items-center.gap-2.footer-links.justify-content-center.justify-content-md-end
        a(href="javascript:void(0);") About
        a(href="javascript:void(0);") Terms
        a(href="javascript:void(0);") Contact Us