extends ../layout/user-layout
block content
    //- Start Welcome Wrap
    .welcome.mb-4 
        div
            h2.mb-1.fs-24 Welcome Back,
                spam.text-primary  Adrian
            p.fs-14.mb-0 14 New Companies Subscribed Today !!! 
    //- End Welcome Wrap

