doctype html
html(lang="en") 
    head
        //- Meta Tags 
        include meta
        //- Favicon
        include fav-icon
        //- Bootstrap CSS
        link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
        //- Daterangepicker CSS
        link(rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css") 
        //- Tabler Icon CSS
        link(rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.min.css")  
        link(rel="stylesheet" href="/assets/plugins/sweetalert2/sweetalert2.min.css")  
        //- Main CSS
        link(rel="stylesheet" href="/assets/css/style.css" id="app-style")
    body.account-page.bg-white
        block content   
        script(src="/assets/js/jquery-3.6.0.min.js")
        script(src="/javascripts/init.js")
        script(src="/assets/js/jquery.validate.min.js")
        //- Bootstrap Core JS
        script(src="/assets/js/bootstrap.bundle.min.js") 
        //- Main JS
        script(src="/assets/plugins/sweetalert2/sweetalert2.min.js")
        script(src="/assets/js/script.js") 